@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BoldItalic.eot');
    src: local('Gotham XNarrow Bold Italic'), local('GothamXNarrow-BoldItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BoldItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BoldItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Medium.eot');
    src: local('Gotham XNarrow Medium'), local('GothamXNarrow-Medium'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Medium.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Medium.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Black.eot');
    src: local('Gotham XNarrow Black'), local('GothamXNarrow-Black'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Black.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Black.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Black.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-MediumItalic.eot');
    src: local('Gotham XNarrow Medium Italic'), local('GothamXNarrow-MediumItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-MediumItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-MediumItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-LightItalic.eot');
    src: local('Gotham XNarrow Light Italic'), local('GothamXNarrow-LightItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-LightItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-LightItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-XLight.eot');
    src: local('Gotham XNarrow ExtraLight'), local('GothamXNarrow-XLight'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-XLight.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-XLight.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-XLight.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-XLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BlackItalic.eot');
    src: local('Gotham XNarrow Black Italic'), local('GothamXNarrow-BlackItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BlackItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BlackItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BookItalic.eot');
    src: local('Gotham XNarrow Book Italic'), local('GothamXNarrow-BookItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BookItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BookItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Bold.eot');
    src: local('Gotham XNarrow Bold'), local('GothamXNarrow-Bold'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Bold.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Bold.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-ThinItalic.eot');
    src: local('Gotham XNarrow Thin Italic'), local('GothamXNarrow-ThinItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-ThinItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-ThinItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Thin.eot');
    src: local('Gotham XNarrow Thin'), local('GothamXNarrow-Thin'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Thin.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Thin.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Light.eot');
    src: local('Gotham XNarrow Light'), local('GothamXNarrow-Light'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Light.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Light.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Light.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Book.eot');
    src: local('Gotham XNarrow Book'), local('GothamXNarrow-Book'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Book.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Book.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Book.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham XNarrow';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-XLightItalic.eot');
    src: local('Gotham XNarrow ExtraLight Italic'), local('GothamXNarrow-XLightItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-XLightItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-XLightItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-XLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham XNarrow Ultra';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-UltraItalic.eot');
    src: local('Gotham XNarrow Ultra Italic'), local('GothamXNarrow-UltraItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-UltraItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-UltraItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-UltraItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham XNarrow Ultra';
    src: url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Ultra.eot');
    src: local('Gotham XNarrow Ultra'), local('GothamXNarrow-Ultra'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Ultra.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Ultra.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Ultra.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamxnarrow/GothamXNarrow-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
