@font-face {
    font-family: 'InkyThinPixels';
    src: 
    url('../fonts/inkythinpixels/InkyThinPixels.eot?#iefix') format('embedded-opentype'),
    url('../fonts/inkythinpixels/InkyThinPixels.woff') format('woff'),
    url('../fonts/inkythinpixels/InkyThinPixels.ttf') format('truetype'),
    url('../fonts/inkythinpixels/InkyThinPixels.svg#InkyThinPixels') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
