*, :after, :before, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.bar {
    position: relative;
    margin: 5px auto 0;
    max-width: 1040px;
    border-radius: 50px;
    overflow: hidden;
    height: 48px;

    .liquid {
        position: absolute;
        background: #5d6872;
        height: 1040px;
        width: 1040px;
        top: -520px;
        left: 0;
    }
    
    .liquid::after,
    .liquid::before {
        content: '';
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        background: #000;
    }
    
    .liquid::before {
        border-radius: 45%;
        background: rgba(40, 40, 40, .5);
        animation: animate 120s linear infinite;
    }
    
    .liquid::after {
        border-radius: 40%;
        background: rgba(60, 60, 60, .5);
        animation: animate 130s linear infinite;
    }
    
    @keyframes animate {
        0% {
            transform: translate(-50%, -75%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -75%) rotate(360deg);
        }
    }

    .items {
        position: absolute;
        padding: 5px 20px;
        display: flex;
        z-index: 100;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

        .item {
            position: relative;
            max-width: 20%;
            width: 100%;
            z-index: 20;

            .title {
                text-transform: uppercase;
                text-align: center;
                font-family: 'Klein Condensed', sans-serif;
                letter-spacing: 0.03em;
                font-weight: 500;
                font-size: 16px;
                color: #fff;
            }
        }
    }
}