*, :after, :before, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.bar {
    position: relative;
    margin: 5px auto 0;
    max-width: 1040px;
    height: 48px;

    &::before {
        /* content: ''; */
        background-color: #DBB524;
        position: absolute;
        width: 48px;
        bottom: 0;
        left: 0;
        top: 0;
    }

    &::after {
        /* content: ''; */
        background-color: #DBB524;
        position: absolute;
        width: 48px;
        bottom: 0;
        right: 0;
        top: 0;
    }

    .frame {
        max-width: 1040px;
        position: absolute;
        overflow: hidden;
        margin: 0 auto;
        height: 48px;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

        &::before {
            content: '';
            position: absolute;
            max-width: 1040px;
            margin: 0 auto;
            opacity: 0.75;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
        }
    }

    .liquid {
        position: absolute;
        height: 1040px;
        width: 1040px;
        top: -520px;
        right: 0;
        left: 0;
    }
    
    .liquid::after,
    .liquid::before {
        content: '';
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        background: #000;
    }
    
    .liquid::before {
        border-radius: 45%;
        background: rgba(0, 0, 0, 0.15);
        animation: animate 120s linear infinite;
    }
    
    .liquid::after {
        border-radius: 40%;
        background: rgba(0, 0, 0, 0.15);
        animation: animate 130s linear infinite;
    }
    
    @keyframes animate {
        0% {
            transform: translate(-50%, -75%) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -75%) rotate(360deg);
        }
    }

    .items {
        position: absolute;
        padding: 5px 20px;
        display: flex;
        z-index: 100;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

        .item {
            position: relative;
            max-width: 20%;
            width: 100%;
            z-index: 20;

            .title {
                text-transform: uppercase;
                text-align: center;
                font-family: 'BigNoodleTitlingCyr', sans-serif;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 0.05em;
                color: rgb(255, 255, 255);
            }
        }
    }
}