@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BoldItalic.eot');
    src: local('Gotham Cond Bold Italic'), local('GothamCond-BoldItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BoldItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BoldItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Bold.eot');
    src: local('Gotham Cond Bold'), local('GothamCond-Bold'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Bold.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Bold.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-XLightItalic.eot');
    src: local('Gotham Cond ExtraLight Italic'), local('GothamCond-XLightItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-XLightItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-XLightItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-XLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-MediumItalic.eot');
    src: local('Gotham Cond Medium Italic'), local('GothamCond-MediumItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-MediumItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-MediumItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-ThinItalic.eot');
    src: local('Gotham Cond Thin Italic'), local('GothamCond-ThinItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-ThinItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-ThinItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Black.eot');
    src: local('Gotham Cond Black'), local('GothamCond-Black'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Black.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Black.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Black.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Book.eot');
    src: local('Gotham Cond Book'), local('GothamCond-Book'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Book.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Book.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Book.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BlackItalic.eot');
    src: local('Gotham Cond Black Italic'), local('GothamCond-BlackItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BlackItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BlackItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Thin.eot');
    src: local('Gotham Cond Thin'), local('GothamCond-Thin'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Thin.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Thin.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BookItalic.eot');
    src: local('Gotham Cond Book Italic'), local('GothamCond-BookItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BookItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BookItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Medium.eot');
    src: local('Gotham Cond Medium'), local('GothamCond-Medium'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Medium.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Medium.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-LightItalic.eot');
    src: local('Gotham Cond Light Italic'), local('GothamCond-LightItalic'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-LightItalic.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-LightItalic.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-XLight.eot');
    src: local('Gotham Cond ExtraLight'), local('GothamCond-XLight'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-XLight.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-XLight.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-XLight.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-XLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Cond';
    src: url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Light.eot');
    src: local('Gotham Cond Light'), local('GothamCond-Light'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Light.eot?#iefix') format('embedded-opentype'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Light.woff2') format('woff2'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Light.woff') format('woff'),
        url('https://sashatravkina.github.io/static/fonts/gothamcondensed/GothamCond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}